<script type="text/javascript">
$(function(load) {
    var html = '';
        html += '<ul class="users-list clearfix">';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 11</a>';
                html += '<span class="users-list-date">Timothy K. Shih</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 12</a>';
                html += '<span class="users-list-date">Timothy K. Shih</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 13</a>';
                html += '<span class="users-list-date">Joey Chiou</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 14</a>';
                html += '<span class="users-list-date">Joey Chiou</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 15</a>';
                html += '<span class="users-list-date">Howard Liou</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 16</a>';
                html += '<span class="users-list-date">Aaron Chen</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 17</a>';
                html += '<span class="users-list-date">Aaron Chen</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 18</a>';
                html += '<span class="users-list-date">Hannibal J.H. Hsieh</span>';
            html += '</li>';
        html += '</ul><!-- /.users-list -->';
$('#remoteELO').html(html);
});
</script>
