<script type="text/javascript">
$(function(load) {
    var html = '';
        html += '<ul class="users-list clearfix">';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 1</a>';
                html += '<span class="users-list-date">Xaver Y.R. Chen</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 2</a>';
                html += '<span class="users-list-date">Timothy K. Shih</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 3</a>';
                html += '<span class="users-list-date">Joey Chiou</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 4</a>';
                html += '<span class="users-list-date">Hannibal J.H. Hsieh</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 5</a>';
                html += '<span class="users-list-date">Xaver Y.R. Chen</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 6</a>';
                html += '<span class="users-list-date">Timothy K. Shih</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 7</a>';
                html += '<span class="users-list-date">Joey Chiou</span>';
            html += '</li>';
            html += '<li>';
                html += '<img src="assets/img/book-64.png" alt="User Image"/>';
                html += '<a class="users-list-name" href="#">ELO Test 8</a>';
                html += '<span class="users-list-date">Hannibal J.H. Hsieh</span>';
            html += '</li>';
        html += '</ul><!-- /.users-list -->';
    $('#localELO').html(html);
});

// remember delete tag a in this file
$("#localELO li").click(function(){
    alert("test");
});

</script>
