<ul class="nav navbar-nav navbar-right">
    <li class="dropdown task-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-search"></i>
            <span>
                <span>SEARCH</span><i class="caret"></i>
            </span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown task-menu">
                <a class="dropdown-toggle" href="search.html">
                    <i class="fa fa-search"></i> 
                    <span>KEYWORD SEARCH</span>
                </a>
            </li>

            <li class="dropdown task-menu">
                <a class="dropdown-toggle" href="search-metadata.html">
                    <i class="fa fa-search"></i> 
                    <span>METADATA SEARCH</span>
                </a>
            </li>
        </ul>
    </li>

    <li id="ELO_Menu" class="dropdown task-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-pencil"></i>
            <span>
                <span>EDIT</span><i class="caret"></i>
            </span>
        </a>
        <ul id="ELO_Menu_ul" class="dropdown-menu" role="menu">
            <li>
                <a href="editor.html">
                    <i class="fa fa-pencil"></i> 
                    <span>ELO EDITOR</span>
                </a>
            </li>
            <li>
                <a href="metadata.html">
                    <i class="fa fa-pencil-square-o"></i> 
                    <span>METADATA EDITOR</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cloud-upload"></i>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="assets/img/avatar5.png" class="user-image" alt="User Image">
                <p>
                    <span class='uname'></span>
                </p>
            </li>
          
            <!-- Menu Body -->
            <li class="user-body">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat" id="signout">Sign out</a>
                </div>
            </li>
        </ul>
    </li>

    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="assets/img/avatar5.png" class="user-image" alt="User Image">
                <p>
                    <span class='uname'></span>
                </p>
            </li>
          
            <!-- Menu Body -->
            <li class="user-body">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat" id="signout">Sign out</a>
                </div>
            </li>
        </ul>
    </li>

    <!-- Control Sidebar Toggle Button -->
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
</ul>

<script type="text/javascript">
    var user = JSON.parse(localStorage.getItem('user'));
    var settings = JSON.parse(localStorage.getItem('settings'));
    $('.uname').text(user.name.trim());

    $('#signout').on('click', function(e) {
        e.preventDefault();
        if (dash.signOut()) location.href = 'index.html';
        else alert('Oops something went wrong!');
    });
 </script>