
<div class="container"> 
  <div class="header"> </div>
  <div class="navigation"> 
    <div id="previousBtn"> <a href="javascript:PreviousPage();"></a> </div>
    <div id="nextBtn"> <a href="javascript:NextPage();"></a> </div>
  </div>
  <div class="page" id="p1"> 
    <div class="content"> 
      <h2>Overview</h2>
      <img class="right" src="../static/images/ba_1.jpg" alt=""> 
      <p>Many decisions are generated from the front end analysis of an e-learning 
        project. Some of the decisions could be user interface look and feel, 
        flow of the content, media, audience analysis, and the learner experience 
        related to navigation. By making decisions from the analysis of the learners, 
        technology, project requirements, content and other areas, the process 
        of development will be smoother and more learner-centric.</p>
    </div>
    <div class="instructions"> </div>
  </div>
  <div class="page" id="p2"> 
    <div class="content"> 
      <h2>Decisions</h2>
      <img class="right" style="margin-bottom: 120px" src="../static/images/ba_2.jpg" alt=""> 
      <p>An important decision that may need to be made concerns the learner leaving 
        the content, whether intentionally or unintentionally. When the learner 
        leaves the content prematurely, a decision will have to be made on whether 
        or not to suspend the learner&rsquo;s attempt on the content. Will this 
        suspension of the learner attempt on the content, allow the data that 
        has been tracked on previous learner sessions to be retained? Or will 
        re-entry into the content be considered a new learner session?</p>
      <p>Deciding what action will be taken when the learner re-enters is primary 
        to bookmarking. Will they be allowed to return to where they left off 
        or will they be returned to the beginning of the content? These decisions, 
        when made early in the analysis phase of the design, make for an easier 
        development process.</p>
      <p>There are many ways a learner can and should return to the content, but 
        the decisions for this return must be made early in the process. Making 
        the decisions and notating them in the design document enables the whole 
        team to make adjustments to the process prior to development.</p>
    </div>
    <div class="instructions"> </div>
  </div>
  <div class="page" id="p3"> 
    <div class="content"> 
      <h2>Decision Factors</h2>
      <p>Some factors for this kind of decision could involve the project requirements, 
        the sequencing plan for the course, the learner experience, the content 
        requirements or other aspects. It is vital that these factors be taken 
        into consideration during the planning of the project. The retention of 
        data can enable the learner to return to the content again to the same 
        location during the next learner session.</p>
      <p>The following are just a few examples of questions and decisions to be 
        discussed about the persistence or keeping of data in regards to the suspension 
        of a learner attempt:</p>
      <ul>
        <li>If the learner leaves the learner attempt, where will they re-enter 
          the content on the next learner attempt?</li>
        <ul>
          <li>Will they return to the same screen or the first screen of the Sharable 
            Content Object (SCO)?</li>
        </ul>
        <li>During an assessment, will the learner be allowed to leave and return 
          to the same question, will they have to restart the test, or will no 
          return be allowed?</li>
        <ul>
          <li>Will the learner be allowed to go back into the content during an 
            assessment?</li>
        </ul>
        <li>If the learner starts an activity where information is being tracked, 
          if they go to the previous page, what will happen to the data? Will 
          it be restarted, or will it be continued?</li>
      </ul>
      <p>The questions can be varied and many, but they must be not only be asked, 
        but well thought out to determine the way the learner will be able to 
        interact with content, especially when the learner attempt is suspended.</p>
    </div>
    <div class="instructions"> </div>
  </div>
  <div class="page" id="p4"> 
    <div class="content"> 
      <h2>Re-entry Decisions</h2>
      <p>There are two common types of re-entry in the content:</p>
      <ul>
        <li>Starting over, the learner re-enters the content and will be made 
          to start over at the beginning of the content</li>
        <li>Upon re-entry, the learner returns to the location of the last learner 
          session.</li>
      </ul>
      <p>These decisions need to be made prior to the development of the content. 
        An instructional designer, working with the content developer, can determine 
        which the best method is for the learner, content and project. The early 
        decisions will help eliminate confusion later in the development and implementation 
        process.</p>
      <p>In basic sequencing, a learner may be directed through the content in 
        a flow (linear) manner. The learner will go from SCO to SCO.</p>
      <p>When a learner leaves the content and re-enters, the decision would be 
        for the learner to re-enter at one of the following:</p>
      <ul>
        <li>Location of where they left off</li>
        <li>First page of the SCO</li>
      </ul>
      <p>It is possible, due to project or instructional requirements, such as 
        in a testing situation, the designer does not want the information persisted. 
        In an assessment, it may be desirable that the learner have a new learner 
        attempt when re-entering the content.</p>
      <p>If the learner navigates to a different section of the content (using 
        navigation internal to the content), such as using the back and next buttons 
        to review content, decisions also need to be made about what will happen 
        if the learner decides to return to the original location. An example 
        of this would be the learner is participating in the content. While on 
        a screen, they remember something they want to review on a previous page, 
        possibly four or five screens earlier. The learner then uses the next 
        button to page through to the original location. The learner then uses 
        the next button to page through to the previous location. The decision 
        is if the location of the last learner session data will be persisted 
        (kept).</p>
    </div>
    <div class="instructions"> </div>
  </div>
  <div class="page" id="p5"> 
    <div class="content"> 
      <h2>Conclusion</h2>
      <img class="right" src="../static/images/ba_3.jpg" alt=""> 
      <p>Early project decision making is vital to the smooth transition from 
        design to development in any learning project. In an e-learning project, 
        to save time, money and make the experience more seamless and learner-centric, 
        thinking the bookmarking process through in detail will make this possible.</p>
    </div>
    <div class="instructions"> </div>
  </div>
</div>
